@model INT422TestOne.ViewModels.MovieFull

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieFull</h4>
	<hr />
    <dl class="dl-horizontal">
        @if (Model == null) 
        { 
            <dd>
                <i>Sorry no record found</i>
            </dd>
            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
        else 
        {
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketPrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Director.Name)
            </dd>
            if (Model.Genres.Count > 0) 
            { 
                <dt>
                    @Html.DisplayNameFor(model => model.Genres)
                </dt>
                    foreach (var item in Model.Genres)
                    {
                        <dd>@item.Name <br /></dd>
                    } 
            }
            <dt> <br /></dt>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
    </dl>
</div>
